@model Mateo.Puga_Examen_Progreso_I.Models.MP

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MPNameLibro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MPNameLibro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MPDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MPDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MPFechaLimite)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MPFechaLimite)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MPFechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MPFechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MPID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
